@use "../global/variables.scss";

.checkbox {
  display: flex;
  flex-direction: column;
  padding-bottom: 33px;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    row-gap: 23px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 48px;
    padding-bottom: 53px;
  }
}

.checkbox__title {
  display: block;
  padding: 0;
  padding-bottom: 24px;

  @media (min-width: variables.$tablet-width) {
    width: 25%;
    margin-top: 17px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 115px;
  }
}

.checkbox__list {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    column-gap: 60px;
    row-gap: 24px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: 252px 254px 252px;
    column-gap: 10px;
    row-gap: 26px;
  }
}

.checkbox__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover .checkbox__marker {
    border: 2px solid #62d1ba;
  }

  &:active .checkbox__marker {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 19px;
  }
}

.checkbox__marker {
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
  box-sizing: border-box;
  margin-right: 23px;

  @media (min-width: variables.$tablet-width) {
    width: 52px;
    height: 52px;
    margin-right: 29px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: -2px;
  }
}

.checkbox__input:checked + .checkbox__marker::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 16px;
  mask-image: url("../icons/stack.svg#tick");
  background-color: #000000;
  top: 8px;
  left: 5px;

  @media (min-width: variables.$tablet-width) {
    mask-image: url("../icons/stack.svg#tick-d");
    width: 32px;
    height: 22px;
    top: 14px;
    left: 8px;
  }
}

.checkbox__text {
  padding-top: 1px;
}
