.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contacts__list-name {
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
}

.contacts__list-email {
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
  text-decoration: none;
}

.contacts__list-val {
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
}
