.copyright {
  display: flex;
  align-items: center;
  gap: 27px;
  text-decoration: none;
  color: #000000;
  padding: 22px 0 23px;

  &:hover .copyright__icon {
    fill: #46c1ae;
  }

  &:active .copyright__icon {
    opacity: 0.3;
  }
}

.copyright__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.copyright__icon {
  fill: #63d1bb;
  margin-top: 4px;
}
