@use "../global/variables.scss";

.main-footer {
  background-color: #f1f1f1;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 81%;
  margin: 0 auto;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    width: 87%;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1050px;
  }
}

.main-footer__logo {
  display: none;

  &:hover .main-footer__logo-icon {
    fill: #46c1ae;
  }

  &:active .main-footer__logo-icon {
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-width) {
    display: block;
  }
}

.main-footer__logo-icon {
  fill: #000000;
}
