.promo {
  background-color: #ffffff;
  background-image: url("../img/promo-m.jpg");
  background-repeat: no-repeat;
}

.categories-list__link--interior {
  background-color: #63d1bb;
}

.categories-list__link--toys {
  background-color: #56c3b2;
}
