@use "../global/variables.scss";

.radio {
  padding-bottom: 22px;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 25px;
  }
}

.radio__title {
  padding: 0;
  padding-bottom: 30px;
}

.radio__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    margin-left: 25.4%;
    margin-top: -64px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 116px;
  }
}

.radio__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  display: flex;
  align-items: center;
  column-gap: 19px;
  margin-bottom: 11px;
  cursor: pointer;

  &:hover .radio__marker {
    border: 2px solid #62d1ba;
  }

  &:active .radio__marker {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 19px;

    column-gap: 27px;
    margin-bottom: 26px;
  }

  @media (min-width: variables.$desktop-width) {
    column-gap: 29px;
  }
}

.radio__marker {
  position: relative;
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: 2px solid #444444;
  min-width: 41px;
  min-height: 41px;
  box-sizing: border-box;

  @media (min-width: variables.$tablet-width) {
    width: 50px;
    height: 50px;
  }
}

.radio__input[type="radio"]:checked + .radio__marker::before {
  --marker-radio-size: 18.33px;
  content: "";
  position: absolute;
  width: var(--marker-radio-size);
  height: var(--marker-radio-size);
  background-color: #62d1ba;
  border-radius: 50%;
  left: calc(50% - var(--marker-radio-size) * 0.5);
  top: calc(50% - var(--marker-radio-size) * 0.5);

  @media (min-width: variables.$tablet-width) {
    --marker-radio-size: 21px;
  }
}

.radio__text {
  padding-top: 4px;
  display: block;
  min-height: 100%;

  @media (min-width: variables.$tablet-width) {
    padding-top: 0;
  }
}
