@use "../global/variables.scss";

.site-list {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 36px;
    background-color: transparent;
    z-index: 1;
    grid-row: 2;
    grid-column: 1;
    margin-top: 22px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    order: 1;
    top: 0;
    align-items: start;
    column-gap: 35px;
    margin-top: 0;
    row-gap: 0;
  }
}

.site-list__item {
  @media (min-width: variables.$desktop-width) {
    padding: 32px 0 31px 0;
  }
}

.site-list__item-catalog {
  @media (min-width: variables.$desktop-width) {
    padding-right: 35px;
    border-right: 1px solid #ececec;
  }
}

.site-list__link {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

  @media (min-width: variables.$tablet-width) {
    font-size: 15px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 17px;
    padding-top: 1px;
    justify-self: start;
  }
}

.site-list__text {
  display: flex;
  min-width: 260px;
  max-width: 260px;
  box-sizing: border-box;
  padding: 28.5px 0 26.5px 46px;

  transition: opacity 0.3s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-width) {
    min-width: 0;
    text-align: start;
    padding: 0;
  }
}
