@use "../global/variables.scss";

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
