@use "../global/variables.scss";

.user-list {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    box-shadow: none;
    grid-row: 1;
    grid-column: 2;
  }

  @media (min-width: variables.$desktop-width) {
    grid-row: 1;
    grid-column: 3;
  }
}

.user-list__item {
  @media (min-width: variables.$tablet-width) {
    border-left: 1px solid #ececec;
    box-sizing: border-box;
    min-height: 89px;
  }
}

.user-list__link {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

  @media (min-width: variables.$tablet-width) {
    display: inline;
  }
}

.user-list__text {
  display: block;
  min-width: 260px;
  box-sizing: border-box;
  padding: 27px 0 26.5px 46px;

  transition: opacity 0.3s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-width) {
    display: inline;
  }
}

.user-list__link--search {
  position: relative;

  &:hover::before {
    background-color: #63d1bb;
    opacity: 1;
  }

  &:active::before {
    background-color: #63d1bb;
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: center;
    width: 82px;
  }
}

.user-list__link--search::before {
  position: absolute;
  content: "";
  mask-image: url("../icons/stack.svg#icon-search");
  background-color: rgba(0, 0, 0, 0.2);
  width: 18px;
  height: 18px;
  top: 30px;
  margin-left: -240px;

  @media (min-width: variables.$tablet-width) {
    content: "";
    top: 36px;
    margin-left: 0;
  }
}

.user-list__link--card {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &:hover::before {
    background-color: #63d1bb;
    opacity: 1;
  }

  &:active::before {
    background-color: #63d1bb;
    opacity: 0.3;
  }
}

.user-list__link--card::before {
  position: absolute;
  content: "";
  mask-image: url("../icons/stack.svg#cart");
  background-color: rgba(0, 0, 0, 0.2);
  width: 21px;
  height: 18px;
  top: 27px;
  margin-left: -240px;

  @media (min-width: variables.$tablet-width) {
    top: 1px;
    margin-left: -182px;
  }
}

.user-list__text--search {
  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.user-list__item--card {
  @media (min-width: variables.$tablet-width) {
    display: block;
    max-width: 60%;
    text-align: end;
    padding: 32.5px 0 31.5px;
    min-width: 264px;
  }
}

.user-list__text--card {
  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}
